/* =========================== Global Rules =========================== */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main-color: #832500;
    --second-color: #ffc3acce;
    --light1-gray: #f4f4f4;
    --light2-gray: #e1e1e1;
    --light3-gray: #858585;
    --dark-gray: #454545;
}
* {
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
    line-height: 1;
    padding: 0;
    margin: 0;
}
*::selection {
    background-color: var(--main-color);
    color: white;
}
html {
    scroll-behavior: smooth;
}
a {
    display: inline-block; /* instead of inline */
    text-decoration: none;
}
ul {
    list-style: none;
}

/* =========================== Scrollbar =========================== */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--light1-gray);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* =========================== Container =========================== */
.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
@media (max-width: 1200px) {
    .container {
        width: 1000px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 750px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* =========================== Main Heading =========================== */
h2.main-heading {
    text-transform: capitalize;
}
p.main-heading {
    margin: 10px 0 15px;
    font-size: 0.9em;
    color: var(--light3-gray);
    line-height: 1.25;
}
@media (max-width: 768px) {
    h2.main-heading {
        font-size: 1.2em;
    }
    p.main-heading {
        font-size: 0.75em;
    }
}

/* =========================== Header =========================== */
header {
    background-color: var(--light1-gray);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 250ms top;
}
header .container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container .logo {
    color: var(--main-color);
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: -1px;
}
header .container nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
header .container nav ul {
    display: flex;
    align-items: center;
}
header .container nav ul li a {
    color: var(--dark-gray);
    padding: 7.5px 15px;
    border-radius: 12px;
}
header .container nav ul li a:hover {
    background-color: var(--light2-gray);
}
header .container nav .login {
    color: white;
    background-color: var(--main-color);
    padding: 7.5px 15px;
    border-radius: 15px;
}
/* Opened */
header .container #toggle-menu {
    padding: 7.5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 250ms;
    display: none;
}
header .container #toggle-menu:hover {
    background-color: var(--light2-gray);
}
@media (max-width: 768px) {
    header .container #toggle-menu {
        display: block;
    }
    header .container nav {
        display: none;
    }
}
header .container nav.opened {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0;
    background-color: var(--light1-gray);
    border-bottom: 3px solid var(--main-color);
    position: absolute;
    top: 100%;
    left: 0;
    transition: 350ms;
}
header .container nav.opened ul {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
header .container nav.opened ul li {
    border-bottom: 1px solid var(--light2-gray);
    width: 100%;
}
header .container nav.opened ul li a {
    padding: 15px;
    border-radius: 0;
    width: 100%;
}
header .container nav.opened .login {
    margin: 15px;
    width: calc(100% - 30px);
    text-align: center;
}

/* =========================== Footer =========================== */
footer {
    padding: 50px 0;
    background-color: var(--main-color);
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    color: white;
}
footer .container .box {
    padding: 20px;
}
footer .container .basic .logo {
    color: inherit;
    font-size: 1.8em;
    font-weight: 800;
    letter-spacing: -1px;
}
footer .container .basic p {
    line-height: 1.35;
    margin: 15px 0;
}
footer .container .basic .links a {
    color: inherit;
    font-weight: bold;
    line-height: 1.5;
}
footer .container .basic .links a:hover {
    text-decoration: underline;  
}
footer .container .contact > div {
    display: flex;
    gap: 25px;
    align-items: center;
}
footer .container .contact .address {
    margin-bottom: 25px;
}
footer .container .contact > div p {
    line-height: 1.5;
}
@media (max-width: 768px) {
    footer .container {
        gap: 25px;
        font-size: smaller;
    }
}










/* =========================== The Home Page =========================== */
/* =========================== Landing =========================== */
.home-landing {
    width: 100%;
    background-image: url(../imgs/landing1.jpg);
    background-size: cover;
    position: relative;
    transition: 1500ms;
    aspect-ratio: 2 / 1 ;
}
.home-landing .overlay {
    background-color: #15050075;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.home-landing .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.home-landing .container h1 {
    line-height: 1.45;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    z-index: 1;
}
.home-landing .container h1 strong {
    font-size: 3em;
}
.home-landing .container a {
    color: white;
    background-color: var(--main-color);
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 150ms;
    z-index: 1;
}
.home-landing .container a:hover {
    background-color: white;
    color: var(--main-color);
}
@media (max-width: 1024px) {
    .home-landing .container h1 {
        font-size: 1.5em;
    }
}
@media (max-width: 768px) {
    .home-landing .container {
        align-items: center;
    }
    .home-landing .container h1 {
        text-align: center;
        font-size: 1em;
    }
}
@media (max-width: 480px) {
    .home-landing .container h1 {
        font-size: 0.7em;
    }
    .home-landing .container a {
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 0.65em;
    }
}

/* =========================== Uploading =========================== */
/* =========================== Uploading =========================== */
/* =========================== Uploading =========================== */

/* =========================== Support Info =========================== */
.support-info {
    padding: 50px 0;
}
.support-info .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 20px;
}
.support-info .container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
}
.support-info .container .box h3 {
    margin: 15px 0 10px;
}
.support-info .container .box i {
    color: var(--main-color);
    font-size: 2em;
}
.support-info .container .box p {
    color: var(--light3-gray);
    line-height: 1.35;
    font-size: 0.9em;
}

/* =========================== Art =========================== */
/* =========================== Art =========================== */
/* =========================== Art =========================== */

/* =========================== Decoration =========================== */
/* =========================== Decoration =========================== */
/* =========================== Decoration =========================== */

/* =========================== About Us =========================== */
.about-us {
    padding: 50px 0;
    background-color: var(--light1-gray);
}
.about-us .container {
    display: flex;
    align-items: center;
    gap: 50px;
}
.about-us .container .text-box h2 {
    color: var(--main-color);
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 2em;
}
.about-us .container .text-box p {
    line-height: 1.5;
    color: var(--dark-gray);
    text-align: justify;
}
.about-us .container .img-box img {
    width: 100%;
}
@media (max-width: 1024px) {
    .about-us .container .img-box {
        display: none;
    }
}
@media (max-width: 768px) {
    .about-us .container .text-box {
        padding: 0 10px;
        font-size: smaller;
        text-align: center;
    }
}

/* =========================== Best-Selling =========================== */
.best-selling {
    padding: 50px 0;
}
.best-selling .container {
    display: flex;
    align-items: center;
    gap: 50px;
}
.best-selling .container .text-box {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.best-selling .container .text-box h2 {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 2em;
}
@media (max-width: 768px) {
    .best-selling .container .text-box {
        font-size: smaller;
    }
    .best-selling .container .text-box h2 {
        text-align: center;
    }
}
.best-selling .container .text-box .service {
    margin-top: 20px;
}
.best-selling .container .text-box .service .service-name {
    font-weight: bold;
    color: var(--dark-gray);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.best-selling .container .text-box .service .service-name span {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: smaller;
}
.best-selling .container .text-box .service .progress-bar {
    background-color: var(--light1-gray);
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
}
.best-selling .container .text-box .service .progress-bar .progress-value {
    width: 0%; /* Edited in JS */
    height: 100%;
    background-color: var(--main-color);
    transition: 1s;
}
.best-selling .container .img-box img {
    padding: 25px;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: 1.5s;
}
@media (max-width: 768px) {
    .best-selling .container .text-box {
        width: 100%;
    }
    .best-selling .container .img-box {
        display: none;
    }
    .best-selling .container .img-box  img {
        display: none;
    }
}

/* =========================== Timeline =========================== */
.timeline {
    background-color: var(--light1-gray);
    padding: 30px 0 50px;
}
.timeline .container {
    position: relative;
}
.timeline .container .center-line {
    background-color: var(--main-color);
    position: absolute;
    width: 4px;
    height: 100%;
    left: calc(50% - 2px);
}
.timeline .container .center-line::after {
    content: '';
    background-color: var(--main-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -3px;
    top: calc(100% - 5px);
}
.timeline .container .year {
    background-color: var(--main-color);
    position: relative;
    color: white;
    font-size: 0.8em;
    padding: 5px 7px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.timeline .container .content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    width: calc(50% - 25px);
     /* Edited in JS :- */
    opacity: 0;
    transform: translateY(35px);
    transition: 1s;
}
.timeline .container .content.right {
    left: calc(50% + 25px);
}
/* after => circle ... before => arrow */
.timeline .container .content.right::after,
.timeline .container .content.left::after {
    content: '';
    background-color: var(--light1-gray);
    border: 3px solid var(--main-color);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    left: -31px;
    top: 20px;
}
.timeline .container .content.left::after {
    left: unset;
    right: -31px;
}
.timeline .container .content.right::before,
.timeline .container .content.left::before {
    content: '';
    border-width: 12px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: -24px;
    top: 15px;
}
.timeline .container .content.left::before {
    left: unset;
    right: -24px;
    border-color: transparent transparent transparent white ;
}
.timeline .container .content h3 {
    color: var(--main-color);
    margin-bottom: 9px;
}
.timeline .container .content p {
    color: var(--light3-gray);
    font-size: 0.85em;
    line-height: 1.25;
}
@media (max-width: 768px) {
    .timeline .container .content {
        font-size: smaller;
    }
    .timeline .container .content h3 {
        margin-bottom: 5px;
    }
}
@media (max-width: 480px) {
    /* to make them all in the right side */
    .timeline .container .content.left::after {
        left: -31px;
    }
    .timeline .container .content.left::before {
        right: unset;
        left: -24px;
        border-color: transparent white transparent transparent ;
    }

    .timeline .container .center-line {
        left: 15px;
    }
    .timeline .container .year {
        margin: unset;
        margin-top: 20px;
        left: 0;
    }
    .timeline .container .content.right,
    .timeline .container .content.left {
        width: calc(100% - 30px);
        right: unset;  
        left: 27px;
    }
}





















/* =========================== Both Print & Draw Pages =========================== */
/* =========================== Uploading =========================== */
.uploading {
    padding: 50px 0;
}
.uploading .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.uploading .container .back-images {
    z-index: -1;
    opacity: 0.12;
}
.uploading .container .back-images img {
    position: absolute;
    width: 175px;
    top: 25px;
    animation: floating 1s ease-in-out infinite alternate-reverse;
}
@keyframes floating {
    from {
        top: 25px;
    } to {
        top: 40px;
    }
}
.uploading .container .back-images img[alt="Camera"] {
    left: 75%;
    rotate: 25deg;
}
.uploading .container .back-images img[alt="Frame"] {
    right: 75%;
    rotate: 335deg;
}
@media (max-width: 1024px) {
    .uploading .container .back-images {
        display: none;
    }
}
.uploading .container form {
    padding: 35px;
    width: 300px;
    max-width: 300px;
    margin-bottom: 15px;
    border: 2px dashed var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}
.uploading .container form:hover {
    opacity: 0.85;
    cursor: pointer;
}
.uploading .container form :where(i, p) {
    color: var(--main-color);
}
.uploading .container form i {
    font-size: 2.5em;
}
.uploading .container form p {
    text-transform: capitalize;
}
.uploading .container .prompt  {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: none;
}
.uploading .container .extention-prompt {
    background-color: var(--second-color);
    text-transform: uppercase;
    border: none;
}
.uploading .container .replacement-prompt p {
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.uploading .container .replacement-prompt .options button {
    padding: 5px 15px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.uploading .container .replacement-prompt .options button:hover {
    opacity: 0.85;
}
.uploading .container .row {
    background-color: var(--second-color);
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;
    max-width: 300px;
}
.uploading .container .row i {
    font-size: 2em;
    color: var(--main-color);
}
.uploading .container .quality-note .row {
    padding: 10px 15px;
    border: 1px solid var(--main-color);
    background-color: transparent;
}
.uploading .container .quality-note i {
    font-size: 1.65em;
}
.uploading .container .quality-note p {
    line-height: 1.4;
    font-size: 0.75em;
    text-align: left;
    color: var(--dark-gray);
}
.uploading .container .row .content {
    font-size: 0.85em;
    flex: 1;
}
.uploading .container .row .content .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8.5px;
}
.uploading .container .row .content .name {
    font-weight: 600;
}
.uploading .container .row .content .progress-bar {
    width: 100%;
    height: 7.5px;
    background-color: white;
    border-radius: 5px;
}
.uploading .container .row .content .progress-bar .progress {
    background-color: var(--main-color);
    height: 100%;
    width: 0%;
    border-radius: 5px;
    transition: 2.5s width;
}
.uploading .container .uploaded-area .row .content .name {
    text-align: left;
    margin-bottom: 7.5px;
}
.uploading .container .uploaded-area .row .content .size {
    text-align: left;
    font-size: 0.85em;
}
.uploading .container .uploaded-area .row .uploaded-check {
    font-size: 1em;
}
.uploading .container .continue-button {
    display: none;
}
.uploading .container .continue-button a {
    color: white;
    background-color: var(--main-color);
    font-size: 0.85em;
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 15px;
    text-transform: uppercase;
    animation: paddingChanging 0.75s ease-in-out infinite alternate-reverse;
}
@keyframes paddingChanging {
    form {
        padding: 10px 15px
    } to {
        padding: 10px 25px;
    }
}

/* =========================== Example Photo =========================== */
.example-photo {
    position: relative;
}
.example-photo .image.print {
    background-image: url(../imgs/print-example.jpg);
}
.example-photo .image.draw {
    background-image: url(../imgs/draw-example.jpg);
}
.example-photo .image {
    height: 65vh;
    background-size: cover;
    background-position: center;
}
@media (max-width: 1024px) {
    .example-photo .image {
        height: 45vh;
    }
}
@media (max-width: 480px) {
    .example-photo .image {
        height: 30vh;
    }
}
.example-photo .overlay {
    background-color: #15050075;
    opacity: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* =========================== Size Selection =========================== */
.size-selection {
    padding: 50px 0;
}
.size-selection .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.size-selection .container .sizes {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 75px;
}
.size-selection .container .sizes .box {
    opacity: 0.6;
    transition: 0.25s opacity;
    cursor: pointer;
}
.size-selection .container .sizes .box:hover {
    opacity: 1;
}
.size-selection .container .sizes .box.size-selected { /* the size-selected class is added in JS */
    opacity: 1;
}
.size-selection .container .sizes .box .tableau {
    background-color: white;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    box-shadow: -3px 3px 3px 0px #0005;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.size-selection .container .sizes .box .s50x70 {
    width: calc(50px * 3);
    height: calc(70px * 3);
}
.size-selection .container .sizes .box .s40x50 {
    width: calc(40px * 3);
    height: calc(50px * 3);
}
.size-selection .container .sizes .box .s30x40 {
    width: calc(30px * 3);
    height: calc(40px * 3);
}
.size-selection .container .sizes .box .s20x30 {
    width: calc(20px * 3);
    height: calc(30px * 3);
}
.size-selection .container .sizes .box .s25x25 {
    width: calc(25px * 3);
    height: calc(25px * 3);
}
.size-selection .container .sizes .box .tableau i {
    color: var(--main-color);
    font-size: 1.5em;
}
.size-selection .container .sizes .box .tableau .price {
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    color: white;
    padding: 6.5px 8.5px;
    border-radius: 5px;
}
.size-selection .container .sizes .box span {
    font-weight: bold;
    font-size: smaller;
    color: var(--dark-gray);
    margin-top: 10px;
    display: block;
}

/* =========================== Order Now =========================== */
.order-now {
    padding: 50px 0;
    background-color: var(--light1-gray);
    text-align: center;
}
.order-now .container p {
    padding: 0 25px;
    line-height: 1.5;
    text-transform: capitalize;
}
@media (max-width: 768px) {
    .order-now .container p {
        font-size: 0.82em;
    }
}
.order-now .container button {
    width: 65%;
    padding: 15px 0;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    margin-top: 15px;
    transition: 250ms;
}
.order-now .container button:hover {
    opacity: 0.9;
}
.order-now .container button[disabled] {
    opacity: 0.25;
    cursor: default;
}
























/* =========================== Both Art & Decoration Pages =========================== */
/* =========================== Art Landing =========================== */
.products-landing {
    background: var(--light1-gray) ;
    padding: 50px 0;
    overflow: hidden;
}
.products-landing .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 35px;
}
.products-landing .container::before {
    content: '';
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -250%;
    left: 28%;
    background-color: var(--dark-gray);
    border-radius: 50%;
    opacity: 0.15;
}
.products-landing .container::after {
    content: '';
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -25%;
    left: -55%;
    background-color: var(--dark-gray);
    border-radius: 50%;
    opacity: 0.15;
}
.products-landing .container .text-box {
    max-width: 525px;
    position: relative;
    z-index: 3;
}
.products-landing .container .text-box h1 {
    text-transform: capitalize;
    color: var(--dark-gray);
    font-size: 3em;
}
.products-landing .container .text-box p {
    padding: 10px;
    color: var(--light3-gray);
    /* text-align: justify; */
    line-height: 1.35;
    position: relative;
}
.products-landing .container .img-box {
    width: 350px;
    height: 350px;
    position: relative;
    z-index: 3;
}
.products-landing .container .img-box img {
    position: absolute;
    width: 200px;
    height: 280px;
    border: 1px solid var(--light3-gray);
    box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 35%);
    animation: art1Floating 1.5s ease-in-out infinite alternate-reverse;
    left: 50%;
    transform: translateX(-80%);
}
.products-landing .container .img-box img:nth-child(2) {
    top: 20%;
    transform: translateX(-20%);
    animation: art2Floating 1.5s ease-in-out infinite alternate-reverse;
}
@keyframes art1Floating {
    from {
        transform: translate(-80%, -2%);
    } to {
        transform: translate(-80%, 2%);
    }
}
@keyframes art2Floating {
    from {
        transform: translate(-20%, -2%);
    } to {
        transform: translate(-20%, 2%);
    }
}
@media (max-width: 1024px) {
    .products-landing .container::before {
        display: none;
    }
    .products-landing .container::after {
        top: -145%;
        left: 50%;
        transform: translateX(-50%);
    }
    .products-landing .container .text-box {
        text-align: center;
    }
    .products-landing .container .text-box h1 {
        font-size: 2em;
    }
    .products-landing .container .text-box p {
        font-size: 0.85em;
    }
    .products-landing .container .text-box p::after {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 480px) {
    .products-landing .container .text-box h1 {
        font-size: 1.5em;
    }
    .products-landing .container .text-box p {
        font-size: 0.75em;
    }
}

/* =========================== Decoration Landing =========================== */
.decoration-landing {
    aspect-ratio: 3 / 1 ;
    background-image: url(../imgs/decoration/landing1.jpg);
}
.decoration-landing .overlay {
    background-color: #15050045;
}

/* =========================== Art Products =========================== */
.products {
    padding: 25px 0;
}
.products h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
    background-color: var(--light1-gray);
    color: var(--dark-gray);
    padding: 15px 0;
}
@media (max-width: 480px) {
    .products h2 {
        font-size: 1.25em;
        margin-bottom: 15px;
    }
}
.products .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}
.products .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 10px;
    padding: 25px;
    border-radius: 10px;
    color: var(--dark-gray);
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 25%);
    text-shadow: 1px 1px 1px rgb(255 255 255 / 35%);
    font-weight: bold;
    z-index: 1;
    opacity: 0; /* Edited in JS onscroll*/
    transition: 1s;
}
.products .container .card .overlay {
    /* background-image: url(../imgs/art/art1.jpg); Edited in JS according to the tableau image */
    background-size: cover;
    filter: blur(25px);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    scale: 1.5;
    opacity: 0.25;
    transition: 250ms;
}
.products .container .card:hover .overlay {
    opacity: 0.40;
}
.products .container .card img {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid var(--light3-gray);
    box-shadow: 2px 2px 3px 1px rgb(0 0 0 / 50%);
}
.products .container .card h3 {
    text-transform: capitalize;
}
.products .container .card button {
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 100ms;
}
.products .container .card button:hover {
    padding: 10px 20px;
}

/* =========================== Decoration Products =========================== */
.products.decoration .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products.decoration .container .card {
    text-align: center;    
}
.products.decoration .container .card img {
    box-shadow: none;
    border-radius: 5px;
    border: none;
}
.products.decoration .container .card h3 {
    line-height: 1.35;
}
.products.decoration .container .card p {
    color: var(--light3-gray);
    line-height: 1.35;
    font-size: 0.75em;
}























/* =========================== Contact Us Page =========================== */
/* =========================== Landing =========================== */
main.contact-landing {
    background-color: var(--light1-gray);
}
main.contact-landing .container {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0; /* Edited in JS */
    transform: translateY(35px);
    transition: 1s;
}
main.contact-landing .container h2 {
    font-weight: 100;
    font-size: 4em;
    text-transform: capitalize;
    line-height: 1.25;
}
main.contact-landing .container .img-box img {
    width: 350px;
}
@media (max-width: 1024px) {
    main.contact-landing .container h2 {
        font-size: 3em;
    }
    main.contact-landing .container .img-box img {
        width: 300px;
    }
}
@media (max-width: 768px) {
    main.contact-landing .container {
        flex-direction: column;
        text-align: center;
    }
    main.contact-landing .container h2 {
        font-size: 2.5em;
    }
}
@media (max-width: 480px) {
    main.contact-landing .container h2 {
        font-size: 2em;
    }
    main.contact-landing .container .img-box img {
        width: 275px;
    }
}

/* =========================== Cards =========================== */
.cards {
    padding: 75px 0;
    position: relative;
}
.cards .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.cards .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 375px;
    background-color: var(--light1-gray);
    box-shadow: 3px 3px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding: 30px;
    opacity: 0; /* Edited in JS */
    transform: translateY(35px);
    transition: 1s;
}
.cards .container .card i {
    color: var(--light1-gray);
    font-size: 1.5em;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 20px;
}
.cards .container .card h3 {
    margin: 20px 0 15px;
    text-transform: capitalize;
}
.cards .container .card p {
    line-height: 1.25;
    font-size: 0.85em;
    color: var(--light3-gray);
}
/* =========================== Contact =========================== */
section.contact {
    padding: 50px 0;
    background-color: var(--light1-gray);
}
section.contact h2 {
    text-align: center;
    text-transform: uppercase;
}
section.contact .container form {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    caret-color: var(--main-color);
}
@media (max-width: 480px) {
    section.contact .container form {
        padding: 25px 0
    }
}
section.contact .container form input[type='text'] {
    color: var(--main-color);
    padding: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}
section.contact .container form textarea {
    color: var(--main-color);
    padding: 10px;
    border: none;
    outline: none;
    min-height: 30vh;
    resize: none;
    font-weight: bold;
}
section.contact .container form input[type='submit'] {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;

}
















/* =========================== Login Page =========================== */
/* =========================== Login Box =========================== */
.login .container .box {
    display: flex;
    background-color: var(--light1-gray);
    margin: 50px 0;
}
.login .container .box .img {
    background-image: url(../imgs/decoration/decore3.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .container .box form {
    width: 50%;
    padding: 150px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.login .container .box form span {
    color: var(--light3-gray);
    font-weight: 600;
    margin: 15px 0;
}
.login .container .box form span a {
    color: var(--main-color);
}
.login .container .box form input {
    outline: none;
    border: 1px solid var(--light2-gray);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    caret-color: var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 0.3px;
}
.login .container .box form input::placeholder {
    color: var(--light3-gray);
    font-weight: normal;
}
.login .container .box form > a {
    color: var(--main-color);
    font-weight: bold;
}
.login .container .box form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    margin-top: 15px;
}
@media (max-width: 1024px) {
    .login {
        background-color: var(--light1-gray);
    }
    .login .container .box .img {
        display: none;
    }
    .login .container .box form {
        width: 100%;
    }
}
@media (max-width: 480px) {

    .login .container .box {
        margin: 0;
    }
    .login .container .box form {
        padding: 150px 10px;
        align-items: center;
    }
    .login .container .box form input {
        width: 100%; 
    }
}