@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-Thin.ttf") format("truetype");
  font-weight: 100; /* Thin */
}

@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-ExtraLight.ttf") format("truetype");
  font-weight: 200; /* Extra Light */
}

@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Semi Bold */
}

@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* Extra Bold */
}

@font-face {
  font-family: "Sofia Sans";
  src: url("SofiaSans-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
}
