/* =========================== Both Art & Decoration Pages =========================== */
/* =========================== Art Landing =========================== */
.products-landing {
  background: var(--light1-gray);
  padding: 50px 0;
  overflow: hidden;
}

.products-landing .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 35px;
}

.products-landing .container::before {
  content: '';
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -250%;
  left: 28%;
  background-color: var(--dark-gray);
  border-radius: 50%;
  opacity: 0.15;
}

.products-landing .container::after {
  content: '';
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -25%;
  left: -55%;
  background-color: var(--dark-gray);
  border-radius: 50%;
  opacity: 0.15;
}

.products-landing .container .text-box {
  max-width: 525px;
  position: relative;
  z-index: 3;
}

.products-landing .container .text-box h1 {
  text-transform: capitalize;
  color: var(--dark-gray);
  font-size: 3em;
}

.products-landing .container .text-box p {
  padding: 10px;
  color: var(--light3-gray);
  /* text-align: justify; */
  line-height: 1.35;
  position: relative;
}

.products-landing .container .img-box {
  width: 350px;
  height: 350px;
  position: relative;
  z-index: 3;
}

.products-landing .container .img-box img {
  position: absolute;
  width: 200px;
  height: 280px;
  border: 1px solid var(--light3-gray);
  box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 35%);
  animation: art1Floating 1.5s ease-in-out infinite alternate-reverse;
  left: 50%;
  transform: translateX(-80%);
}

.products-landing .container .img-box img:nth-child(2) {
  top: 20%;
  transform: translateX(-20%);
  animation: art2Floating 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes art1Floating {
  from {
    transform: translate(-80%, -2%);
  }

  to {
    transform: translate(-80%, 2%);
  }
}

@keyframes art2Floating {
  from {
    transform: translate(-20%, -2%);
  }

  to {
    transform: translate(-20%, 2%);
  }
}

@media (max-width: 1024px) {
  .products-landing .container::before {
    display: none;
  }

  .products-landing .container::after {
    top: -145%;
    left: 50%;
    transform: translateX(-50%);
  }

  .products-landing .container .text-box {
    text-align: center;
  }

  .products-landing .container .text-box h1 {
    font-size: 2em;
  }

  .products-landing .container .text-box p {
    font-size: 0.85em;
  }

  .products-landing .container .text-box p::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 480px) {
  .products-landing .container .text-box h1 {
    font-size: 1.5em;
  }

  .products-landing .container .text-box p {
    font-size: 0.75em;
  }
}

/* =========================== Decoration Landing =========================== */
.decoration-landing {
  aspect-ratio: 3 / 1;
  background-image: url(../imgs/decoration/landing1.jpg);
}

.decoration-landing .overlay {
  background-color: #15050045;
}

/* =========================== Art Products =========================== */
.products {
  padding: 25px 0;
}

.products h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 25px;
  background-color: var(--light1-gray);
  color: var(--dark-gray);
  padding: 15px 0;
}

@media (max-width: 480px) {
  .products h2 {
    font-size: 1.25em;
    margin-bottom: 15px;
  }
}

.products .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

.products .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 10px;
  padding: 25px;
  border-radius: 10px;
  color: var(--dark-gray);
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 25%);
  text-shadow: 1px 1px 1px rgb(255 255 255 / 35%);
  font-weight: bold;
  z-index: 1;
  opacity: 0;
  /* Edited in JS onscroll*/
  transition: 1s;
}

.products .container .card .overlay {
  /* background-image: url(../imgs/art/art1.jpg); Edited in JS according to the tableau image */
  background-size: cover;
  filter: blur(25px);
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  scale: 1.5;
  opacity: 0.25;
  transition: 250ms;
}

.products .container .card:hover .overlay {
  opacity: 0.40;
}

.products .container .card img {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid var(--light3-gray);
  box-shadow: 2px 2px 3px 1px rgb(0 0 0 / 50%);
}

.products .container .card h3 {
  text-transform: capitalize;
}

.products .container .card button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 100ms;
}

.products .container .card button:hover {
  padding: 10px 20px;
}

/* =========================== Decoration Products =========================== */
.products.decoration .container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products.decoration .container .card {
  text-align: center;
}

.products.decoration .container .card img {
  box-shadow: none;
  border-radius: 5px;
  border: none;
}

.products.decoration .container .card h3 {
  line-height: 1.35;
}

.products.decoration .container .card p {
  color: var(--light3-gray);
  line-height: 1.35;
  font-size: 0.75em;
}